<div class="container">
    <%= render 'layouts/error_team_messages' %>
    <div class="row  align-items-center">
        <div class="offset-1 col-md-6">
            <%= form_with(model: @team, local: true) do |f| %>
                <%= f.label :name, 'チーム名' %>
                <%= f.text_field :name, class: "form-control mb-2" %>
                <%= f.label :description, 'チーム概要' %>
                <%= f.text_area :description, size: "3x4", class: "form-control" %>
                <%= f.submit '保存',  class: 'btn btn-primary mt-2 mb-3' %>
            <% end %>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-md-1">
            FW
        </div>
        <% positions = %w(PR HO PR LO LO FL FL NO8 SH SO CTB CTB WTB WTB FB) %>
        <div class="col-md-8">
            <table class="table">
                <tr class="table-info">
                    <th class="text-center">NO</th>
                    <th class="text-center">position</th>
                    <th class="text-center">name</th>
                    <th class="text-center">height[cm]</th>
                    <th class="text-center">weight[kg]</th>
                    <th class="text-center">country</th>
                    <th class="text-center">image</th>
                </tr>
                <% (1..8).each do |no| %>
                <tr>
                    <th class="text-center"><%= no %></th>
                    <th class="text-center"><%= positions[no-1] %></th>
                    <% player =  @team.player_by_position_number_of(no) %>
                    <% if player.present? %>
                        <td class="text-center"><%= player.name %></td>
                        <td class="text-center"><%= player.height %></td>
                        <td class="text-center"><%= player.weight %></td>
                        <td class="text-center"><%= player.country_code %></td>
                        <td class="text-center"><%= image_tag player.image.url, :size => "60x60" if player.image? %></td>
                      　<td>
                        　    <%= form_with(model: @team.members.find_by(player_id: player.id), local: true) do |f| %>
                                  <%= f.hidden_field :team_id, :value => @team.id %>
                                  <%= f.hidden_field :player_id, :value => player.id %>
                                  <%= f.select :position_number, ['-'] + (1..15).to_a, class: 'block' %>
                                  <%= f.submit '変更', class: 'btn btn-primary btn-block btn-sm'%>
                              <% end %>
                        </td>

                    <% else %>
                        <td></td><td></td><td></td><td></td><td></td><td></td>
                    <% end %>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-1">
            BK
        </div>
        <div class="col-md-8">
            <table class="table">
                <tr class="table-info">
                    <th class="text-center">NO</th>
                    <th class="text-center">position</th>
                    <th class="text-center">name</th>
                    <th class="text-center">height[cm]</th>
                    <th class="text-center">weight[kg]</th>
                    <th class="text-center">country</th>
                    <th class="text-center">image</th>
                </tr>
                <% (9..15).each do |no| %>
                <tr>
                    <th class="text-center"><%= no %></th>
                    <th class="text-center"><%= positions[no-1] %></th>
                    <% player =  @team.player_by_position_number_of(no) %>
                    <% if player.present? %>
                        <td class="text-center"><%= player.name %></td>
                        <td class="text-center"><%= player.height %></td>
                        <td class="text-center"><%= player.weight %></td>
                        <td class="text-center"><%= player.country_code %></td>
                        <td class="text-center"><%= image_tag player.image.url, :size => "60x60" if player.image? %></td>
                      　<td>
                        　    <%= form_with(model: @team.members.find_by(player_id: player.id), local: true) do |f| %>
                                  <%= f.hidden_field :team_id, :value => @team.id %>
                                  <%= f.hidden_field :player_id, :value => player.id %>
                                  <%= f.select :position_number, ['-'] + (1..15).to_a, class: 'block' %>
                                  <%= f.submit '変更', class: 'btn btn-primary btn-block btn-sm'%>
                              <% end %>
                        </td>
                    <% else %>
                        <td></td><td></td><td></td><td></td><td></td><td></td>
                    <% end %>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
            <h3 class="text-center display-5">FW平均体重：<%= average_of_forward_weight %>[kg]</h3>
            <p class= "lead" > 
            <h3 class="text-center display-5">平均身長：<%= average_of_height %>[cm]</h3>
    </div>
</div>

<div class="container">
    <h3>お気に入り選手</h3>
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th class="text-center">name</th>
                <th class="text-center">position</th>
                <th class="text-center">weight[kg]</th>
                <th class="text-center">height[cm]</th>
                <th class="text-center">birthday</th>
                <th class="text-center">country</th>
                <th class="text-center">image</th>
            </tr>
            <% current_user.favorite_players.each do |player| %>
                <tr>
                    <td class="text-center"><%= link_to player.name, player %></td>
                    <td class="text-center"><%= player.position %></td>
                    <td class="text-center"><%= player.height %></td>
                    <td class="text-center"><%= player.weight %></td>
                    <td class="text-center"><%= player.birthday %></td>
                    <td class="text-center"><%= player.country_code %></td>
                    <td class="text-center"><%= image_tag player.image.url, :size => "60x60" if player.image? %></td>
                 <% if not @team.players?(player) %>
                  　<td>
                    　    <%= form_with(model: @team.members.build, local: true) do |f| %>
                              <%= f.hidden_field :team_id, :value => @team.id %>
                              <%= f.hidden_field :player_id, :value => player.id %>
                              <%= f.select :position_number, ['-'] + (1..15).to_a %>
                              <%= f.submit '加える', class: 'btn btn-primary btn-sm'%>
                         <% end %>
                    </td>
                <% end %>
                </tr>
            <% end %>
        </table>
    </div>
</div>
