<div class="container">
    <div class="row align-items-center">
        <div class="col-md-1">
            FW
        </div>
        <% positions = %w(PR HO PR LO LO FL FL NO8 SH SO CTB CTB WTB WTB FB) %>
        <div class="col-md-8">
            <table class="table">
                <tr class="table-info">
                    <th class="text-center">NO</th>
                    <th class="text-center">position</th>
                    <th class="text-center">name</th>
                    <th class="text-center">height[cm]</th>
                    <th class="text-center">weight[kg]</th>
                    <th class="text-center">country</th>
                    <th class="text-center">image</th>
                </tr>
                <% (1..8).each do |no| %>
                <tr>
                    <th class="text-center"><%= no %></th>
                    <th class="text-center"><%= positions[no-1] %></th>
                    <% player =  @team.player_by_position_number_of(no) %>
                    <% if player.present? %>
                        <td class="text-center"><%= player.name %></td>
                        <td class="text-center"><%= player.height %></td>
                        <td class="text-center"><%= player.weight %></td>
                        <td class="text-center"><%= player.country_code %></td>
                        <td class="text-center">player image</td>
                      　<td>
                        　    <%= form_with(model: @team.members.find_by(player_id: player.id), local: true) do |f| %>
                                  <%= f.hidden_field :id, :value => @team.id %>
                                  <%= f.hidden_field :player_id, :value => player.id %>
                                  <%= f.select :position_number, ['-'] + (1..15).to_a, class: 'block' %>
                                  <%= f.submit '変更', class: 'btn btn-primary btn-block btn-sm'%>
                              <% end %>
                        </td>

                    <% else %>
                        <td></td><td></td><td></td><td></td><td></td><td></td>
                    <% end %>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-1">
            BK
        </div>
        <div class="col-md-8">
            <table class="table">
                <tr class="table-info">
                    <th class="text-center">NO</th>
                    <th class="text-center">position</th>
                    <th class="text-center">name</th>
                    <th class="text-center">height[cm]</th>
                    <th class="text-center">weight[kg]</th>
                    <th class="text-center">country</th>
                    <th class="text-center">image</th>
                </tr>
                <% (9..15).each do |no| %>
                <tr>
                    <th class="text-center"><%= no %></th>
                    <th class="text-center"><%= positions[no-1] %></th>
                    <% player =  @team.player_by_position_number_of(no) %>
                    <% if player.present? %>
                        <td class="text-center"><%= player.name %></td>
                        <td class="text-center"><%= player.height %></td>
                        <td class="text-center"><%= player.weight %></td>
                        <td class="text-center"><%= player.country_code %></td>
                        <td class="text-center">player image</td>
                      　<td>
                        　    <%= form_with(model: @team.members.find_by(player_id: player.id), local: true) do |f| %>
                                  <%= f.hidden_field :id, :value => @team.id %>
                                  <%= f.hidden_field :player_id, :value => player.id %>
                                  <%= f.select :position_number, ['-'] + (1..15).to_a, class: 'block' %>
                                  <%= f.submit '変更', class: 'btn btn-primary btn-block btn-sm'%>
                              <% end %>
                        </td>
                    <% else %>
                        <td></td><td></td><td></td><td></td><td></td><td></td>
                    <% end %>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        
        <table class="table table-striped">
            <tr>
                <th class="text-center">name</th>
                <th class="text-center">position</th>
                <th class="text-center">weight[kg]</th>
                <th class="text-center">height[cm]</th>
                <th class="text-center">birthday</th>
                <th class="text-center">country</th>
                <th class="text-center">image</th>
            </tr>
            <% current_user.favorite_players.each do |player| %>
                <tr>
                    <td class="text-center"><%= link_to player.name, player %></td>
                    <td class="text-center"><%= player.position %></td>
                    <td class="text-center"><%= player.height %></td>
                    <td class="text-center"><%= player.weight %></td>
                    <td class="text-center"><%= player.birthday %></td>
                    <td class="text-center"><%= player.country_code %></td>
                    <td class="text-center"><%= "画像なし" %></td>
                    
                        　<td>
                        　    <%= form_with(model: @team.members.build, local: true) do |f| %>
                                  <%= f.hidden_field :id, :value => @team.id %>
                                  <%= f.hidden_field :player_id, :value => player.id %>
                                  <%= f.select :position_number, ['-'] + (1..15).to_a %>
                                  <%= f.submit '加える', class: 'btn btn-primary btn-sm'%>
                              <% end %>
                          </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>