<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
        　<%= form_with(model: current_user.teams.build, local: true) do |f| %>
         　    <%= render 'layouts/error_team_messages' %>
         　    <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.label :name, 'チーム名' %>
              <%= f.text_field :name, class: "form-control mb-2" %>
              <%= f.label :description, 'チーム概要' %>
              <%= f.text_area :description, size: "3x4", class: "form-control", value: 'このラグビーチームの説明。。。' %>
              <%= f.submit 'チーム作成', class: 'btn btn-primary btn-block mt-2'%>
          <% end %>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>