<% if players.present? %>
    <table class="table table-striped">
        <tr>
            <th class="text-center"></th>
            <th class="text-center">name</th>
            <th class="text-center">position</th>
            <th class="text-center">weight[kg]</th>
            <th class="text-center">height[cm]</th>
            <th class="text-center">birthday</th>
            <th class="text-center">country</th>
        </tr>
        <% players.each do |player| %>
            <tr>
                <td class="text-center"><%= image_tag player.image.url, :size => "100x100" if player.image? %></td>
                <td class="text-center"><%= link_to player.name, player %></td>
                <td class="text-center"><%= player.position %></td>
                <td class="text-center"><%= player.height %></td>
                <td class="text-center"><%= player.weight %></td>
                <td class="text-center"><%= player.birthday %></td>
                <td class="text-center"><%= player.country_code %></td>
                <% if logged_in? %>
                    <% if not current_user.is_favarite_player?(player) %>
                        　<td><%= form_with(model: current_user.favorites.build, local: true) do |f| %>
                                  <%= hidden_field_tag :player_id, player.id %>
                                  <%= f.submit 'お気に入り', class: 'btn btn-primary btn-block btn-sm' %>
                              <% end %>
                          </td>
                    <% else %>
                            <td><%= form_with(model: current_user.favorites.find_by(player_id: player.id), local: true, method: :delete) do |f| %>
                                    <%= hidden_field_tag :player_id, player.id %>
                                    <%= f.submit 'お気に入り解除', class: 'btn btn-danger btn-block btn-sm' %>
                                <% end %>
                            </td>
                    <% end %>
                <% end %>
            </tr>
        <% end %>
    </table>
<% else %>
  <p class="offset-1">選手がいません</p>
<% end %>