<div class="container">
    <h2><%= current_user.name %>さんの設定</h2>
    
    <div class="row mt-5">
        <h3 class="col-md-3">マイチーム一覧</h2>
        <div class="col-md-3">
            <%= link_to '新チームをつくる', new_team_path, class: 'btn btn-primary btn-block btn-sm' %>
        </div>
    </div>

    <%= render 'teams/teams_list', teams: current_user.teams %>

    <div class="row mt-5">
        <h3>お気に入り選手一覧</h2>
        <%= render 'players/players_list', players: current_user.favorite_players %>
    </div>

    <div class="offset-4 col-md-4">
        <%= link_to 'アカウント設定', edit_user_path(current_user) , class: 'btn btn-primary btn-block' %>
    </div>
</div>