<h1>選手一覧</h1>
<% if logged_in? %>
  <p class="text-danger">お気に入りした選手は自分のチームに登録できます</p>
<% end %>
<%= form_tag players_path, :method => 'get' do %>
  <p>
      <%= text_field_tag :search, params[:search] %>
      <%= select_tag :position, options_for_select( %w(ALL PR HO LO FL NO8 SH SO CTB WTB FB UTB)) %>
      <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<%= render 'players_list', players: @players %>
<%= paginate @players %>